@import url('https://fonts.googleapis.com/css2?family=Crushed&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
    min-height: 100vh;
    background: linear-gradient(to right top,#36404B,#36404B);
    display: flex;
    align-items: center;
    justify-content: center;

}

.glass {
    background: white;
    min-height: 80vh;
    width: 55%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255, 0.3));
    border-radius: 2rem;
    z-index: 1;
    backdrop-filter: blur(2rem);
    display: flex;
   

}

h1 {
    font-family: 'Crushed', cursive;
    margin-left: 52vh;
    margin-top: 15vh;
}

h2 {
    font-family: 'Crushed', cursive;
    position: fixed;
    margin-left: 45vh;

}



ul {
    display: block;
    justify-content: space-between;
    margin-block-start: -2em;
    margin-block-end: 4em;
    margin-inline-start: 1em;
    margin-inline-end: auto;
    text-decoration: none;
    position: absolute;
    top: -497px;
    left: -76px;
    
}
nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    padding: 0px;
    font-family: 'Crushed', cursive;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    
    


}

nav ul li {
  
    list-style: none;
    margin-left: 80px;
    margin-top: 90px;
    margin-right: 70px;
    display: inline-block;
    
    
    
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    
    
    
}

nav ul li a:hover{
    color: black;
}

.intro {
    font-weight: bolder;
    color: rgba(#6BDCE5,#6BDCE5,#6BDCE5, 0.7);
    text-align: right;
    margin-top: 60px;
    font-size: 40px;
    padding: 50px;
    font-family: 'Crushed', cursive;
    
    
    

}

.photo {

     
     margin-left: 5%;
     text-align: center;
     text-decoration: none;
     margin-top: 35%;
     font-family: 'Crushed', cursive;


}

.intro {
    margin-top: 12%;
    text-align: end;
    padding: 94px;
    font-weight: 200;
    margin-left: 85px;


}


a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.avatar {
    margin-top: -60px;
    margin-bottom: -60px;
    width: 2em;
    height: 2em;
}
